<!-- views/events-show.handlebars -->

<img src={{event.imgUrl}} />
<h1>{{event.eventName}}</h1>
<h2>{{event.desc}}</h2>
<h2>{{event.game}}</h2>
<h2>{{event.location}}</h2>
 <div class="text-right">
      <a href="/events/{{event.id}}/edit">Edit</a>
 </div>